<div class="col-md-12">
    <h3>La encuesta ha sido completada, elija una opción:</h3>
</div>
<div class="col-md-6">
        <a href="@Url.Action("ResultadoEvaluacion")" class="btn btn-success">
            <i class="fa fa-long-arrow-right"></i>&nbsp;Revisar Resultados
        </a>
        <a id="reiniciar" href="@Url.Action("NuevaEncuesta")" class="btn btn-success">
            <i class="fa fa-refresh"></i>&nbsp;Volver a Iniciar
        </a>
</div>