
@{
    ViewBag.Title = "Información";
    ViewBag.liInformacion = "active";
}

<h2 class="col-md-12"><b>¿Que es un dato maestro?</b></h2>
<p class="col-md-12 lead">Un dato maestro es un valor unico en la organización, representando datos operacionales, y no transaccionales.</p>

<h2 class="col-md-12"><b>¿En qué consiste la Gestión de Datos Mestros?</b></h2>
<p class="col-md-12 lead">MASTER DATA MANAGEMENT o GESTIÓN DE DATOS MAESTROS busca obtener y distribuir datos consistentes a travez de los distintos sistemas, bases de datos y aplicaciones departamentales, con el propósito de obtener una visión unificada de los datos (Synergic Partners).</p>
