
@{
    ViewBag.Title = "Inicio";
    ViewBag.liInicio = "active";
}

<h2 class="col-md-12"><b>¡Bienvenido a la herramienta de Evaluación de la gestión de datos maestros!</b></h2>

<p class="col-md-12">
    El objetivo de esta herramienta es evaluar el nivel de madurez en cuanto a la gestión de datos maestros en las entidades microfinancieras.
La evaluación consisten en un custionario conformado por una lista de preguntas agrupadas en 6 secciones clasificadas como dimensiones basadas en estandares como APRA, BASILEA, RDA, DAMA, entre otros aplicables en entidades microfinacieras.
</p>
<p class="col-md-12 lead">
    Haga click en la opción <a href="@Url.Action("Cuestionario")">CUESTIONARIO</a>, para completar la evaluación:
</p>

    <img src="~/Content/image/modelo.png" alt="MDM" height="500" style="display: block; margin-left: auto; margin-right: auto ">
