@{
    ViewBag.liResultadoEvaluacion = "active";
    ViewBag.Title = "Resultado de la Evaluación";
}
<h2 class="col-md-12"><b>¡El cuestionario no ha sido finalizado y enviado!</b></h2>

<p class="col-md-12">
    Para consultar los resultados debe finalizar el cuestionario y enviarlo.
</p>
<p class="col-md-12 lead">
    Haga click en la opción <a href="@Url.Action("Cuestionario")">CUESTIONARIO</a>, para completar la evaluación.
</p>
