@{
    ViewBag.liResultadoEvaluacion = "active";
    ViewBag.Title = "Resultado de la Evaluación";
}
<h2 class="col-md-12"><b>¡Aun No Resuelves ni un Cuestionario!</b></h2>

<p class="col-md-12">
    Para consultar la Historia debe finalizar al menos UN cuestionario y enviarlo.
</p>
<p class="col-md-12 lead">
    Haga click en la opción <a href="@Url.Action("Cuestionario")">CUESTIONARIO</a>, para completar la evaluación.
</p>

